<html>
<!-- For details, see: https://github.com/dschuurman/pi-lights -->
<head>
    <title>Home Automation of Lights and Outlets</title>
    <!-- Make the webpage more responsive to mobile browswers -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table, td {border: 1px solid black;}
        td {padding: 10px; vertical-align: top;}
    </style>
</head>

<body>
    <h1>Home Automation of Lights and Outlets</h1>
    <p>
        The following makes use of the <a href="https://www.zigbee2mqtt.io/">zigbee2mqtt</a> library
        to manage of a variety of Zigbee home lights, outlets, and sensors. For more information about
        this project visit the <a href="https://github.com/dschuurman/pi-lights">pi-lights project page</a>.
    </p>

    <table>
        <tr><td>
            <h2>Lights</h2>
            This section provides control and setting for one or more smart lights.
            <br>The Zigbee "friendly names" of the configued lights are: {{ lights|join(', ') }}
            
            <p>Current state of lights: 
            {% if light_state %}
            <b>ON</b>
            {% else %}
            <b>OFF</b>
            {% endif %}
            <form action="" method="post">
                <button name="light_state" type="submit" value="on">Lights ON</button>
                <button name="light_state" type="submit" value="off">Lights OFF</button>
            </form>

            <b>Brightness setting for Lights</b>
            <br>
            <form action="" method=post>
                <input type="range" id="brightness" name="brightness" value={{brightness}} min="0" max="254"
                    step="1" oninput="document.getElementById('setting').innerHTML = this.value;">
                <span id="setting">{{brightness}}</span>
                <br><input type="submit" value="Set Brightness">
            </form>

            <b>Enable Timer Control of Lights</b>
            <br>Currently the timer control of the lights is: 
            {% if light_timer %}
            <b>ON</b>
            {% else %}
            <b>OFF</b>
            {% endif %}
            
            <form action="" method="post">
                <button name="light_timer" type="submit" value="on">ENABLE</button>
                <button name="light_timer" type="submit" value="off">DISABLE</button>
            </form>
        </td></tr>
        <tr><td>
            <h2>Outlets</h2>
            This section provides control and setting for one or more smart outlets.
            <br>The Zigbee "friendly names" of the configued outlets are: {{ outlets|join(', ') }} 
            
            <p>Current state of outlets: 
            {% if outlet_state %}
            <b>ON</b>
            {% else %}
            <b>OFF</b>
            {% endif %}
            <br>
            <form action="" method="post">
                <button name="outlet_state" type="submit" value="on">Outlets ON</button>
                <button name="outlet_state" type="submit" value="off">Outlets OFF</button>
            </form>

            <b>Enable Timer Control of Outlet(s)</b>
            <br>The outlets may also be controlled by the timer.
            <br>This can be helpful to control indoor lights while away on vacation.
            <br>Currently the timer control of the outlet(s) is:
            {% if outlet_timer %}
            <b>ON</b>
            {% else %}
            <b>OFF</b>
            {% endif %}
            <br>
            <form action="" method="post">
                <button name="outlet_timer" type="submit" value="on">ENABLE</button>
                <button name="outlet_timer" type="submit" value="off">DISABLE</button>
            </form>
        </td></tr>
        <tr><td>
            <h2>Timer Setting</h2>
            The lights will be automatically turned on and off each day.
            The daily on-time is set to the dusk time and the off-time can be adjusted below.
            <br>The current settings are as follows:
            <br>Timer ON time: {{on_time}}
            <br>Timer OFF time: {{off_time}}
            <p>
            <form method="POST" action="/off-time">
                Select a new timer off-time:
                <br><input type="time" name="off_time">
                <input type="submit" value="Set new time">
            </form>
            </p>
        </td></tr>
    </table>
    <p>
        View <a href="/log">log file</a>.
    </p>

</body>
</html>